*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: "roboto";
    font-weight: 600;
}
body{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(252, 249, 249) ;
    width: 100vw;
    height: 100vh;
}
.top-bar{
    display: flex;
    height: 90px;
    width: 100%;
    background-color:black;
    justify-content: space-between;
}
#logo img{
    width: 150px;
    margin-top: -25px;
}
#user img {
    height: 85px;
    border-radius: 50%;
    padding: 2px 4px;
    
}

.price-list{
    display: flex;
    margin: 1rem; 
}
.responsive table{
    overflow: hidden;
    overflow-x: auto;
}
table{
    min-width: 350px;
    width: 100%;
    border-collapse: collapse;
    
}
table td, table th{
    padding: 0.5rem;
    text-align: left;
    border: 0.1rem solid rgb(8, 8, 8);
    font-weight: bolder;
}
table th{
    background-color: rgb(245, 177, 222);
}
#attention{
    background-color: rgb(0, 0, 0);
    padding: 0.5rem;
    font-size: 0.8rem;
    
}
#attention  {
    font-weight: 600;
    color: red;
}
#button {
    margin: 1rem;
}    
#button button{
    border-radius: 25%;
    margin: 0.4rem 0.4rem;
    cursor: pointer;
    background-color: black;
    
    
}
#button button:hover{
    background-color: rgb(247, 247, 247);
}
#button h2 {
    font-weight: bold;
}